/* 
body{
    background-color: #000 !important;
    color: #FFF !important;
} */

.hero-section{
    padding: 40px !important;
}

.cont-1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-1 img{
    width: 520px;
}

.login-form{
    text-align: center;
}

.login-form img{
    margin: 60px 0;
}

.form-title{
    font-weight: bold;
    font-size: 3rem;
    margin: 20px 0;
}

.login-form label{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.login-form input{
    width: 320px;
    height: 50px;
    outline: none;
    padding: 5px;
    margin-bottom: 20px;
}

.login-form button{
    width: 320px;
    height: 50px;
    border: none;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 40px !important
}

/* .login-form button{
    width: 320px;
    height: 50px;
    border: none;
    background-color: #FFF;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 40px !important;
} */

.form-context-1 span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.brand{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 20px;
    height: 60px;
}