/* begin: navbar */

nav{
    background-color: #000;
    margin-bottom: 0;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}

nav li{
    height: 100px;
}

nav img{
    width: 175px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #FFF;
}

nav .active{
    color: #FF0000;
}

nav a:hover{
    color: #FF0000;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #000;
    color: #FFF;
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

.log-btn{
    width: 120px;
    height: 40px;
    font-weight: bold;
    color: #FFF;
    border: solid 3px #FFF;
    background: transparent;
    transition: .25s; 
}

.log-btn:hover{
    color: #000;
    background-color: #FFF;
    border: solid 3px #FFF;
}

@media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
}

/* end: navbar */



/* begin: footer */

.footer{
    background-color: #000;
    color: #FFF;
    padding: 20px !important;
}

.footer-info{
    margin-top: 30px !important;
    text-align: center;
}

.footer-info .f-title{
    font-weight: bold;
    font-size: 1.5rem;
}

.footer-link{
    margin-top: 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-link a{
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
}

.footer-link a:hover{
    color: #FF0000;
}

.footer-contact{
    margin-top: 30px !important;
    text-align: center;
}

.footer-contact .c-title{
    font-weight: bold;
    font-size: 1.5rem;   
}

.footer-base{
    background-color: #000;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    padding: 20px !important;
}

/* end: footer */