.hero-section{
    padding: 40px !important;
    height: 40vh;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.shop{
    margin: 40px 0 !important;
    padding: 0px 40px !important;
}

.shop-title{
    font-weight: bold;
    font-size: 2rem;
}

.shop-items{
    display: flex;
    gap: 20px;
    text-align: center;
}

.shop-items .item-title{
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.shop-items .cart-btn{
    padding: 10px 36px;
    border: solid 3px #000;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
    transition: .25s;
}

.shop-items .cart-btn:hover{
    border: solid 3px #000;
    background-color: transparent;
    color: #000;
}

.shop-items .cart-btn a{
    text-decoration: none;
    color: #FFF;
}

.shop-items .cart-btn a:hover{
    text-decoration: none;
    color: #000;
}